/* css web codenotch */

/* css header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: #222222;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
}

nav.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    /* position: fixed; */
}

div.logo-codenotch img {
    width: 50%;
}

div.menu-principal {
    height: 10vh;
    display: flex;
    gap: 50px;
    font-weight: 600;
}

div.menu-principal a {
    align-self: center;
    padding: 3vh;
    text-decoration: none;
    color: #fff;
}

div.menu-principal a:hover {
    background-color: #0707b7;
    cursor: pointer;
}

div.menu-principal a:active {
    background-color: #0707b7;
}

/* css hero-img */

article.hero-img {
    width: 100%;
    height:400px;
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 0, 0.5),
        rgba(0, 0, 255, 0.5)
      ), url('../img/Imagen-pagina-principal.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
    color: white;
}

.h2-slogan {
    font-size: 32px;
    margin-bottom: 40px;
}

.h1-slogan {
    margin-bottom: 40px;
    font-size: 88px;
    line-height: 1;
}

.h3-slogan {
    font-size: 24px;
}

/* Section Objetivo y cursos */

article.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px 120px; 
    margin-bottom: 5px;   
}

.objetivo-title {
    align-self: flex-start;
    font-size: 48px;
    flex-basis: 50%;
    margin: 50px 0 50px 0;
}

.objetivo-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
    margin-bottom: 50px;
}

.text-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}


.objetivo-text_1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.7;
}

.objetivo-text {
    font-size: 24px;
    line-height: 1.7;
}

.objetivo-img {
    width: 40%;
    object-fit: cover;
}

/* Cursos */

.cursos-container {
    margin-top: 50px;
}

.header-cursos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.cursos-title {
    font-size: 48px;
    flex-basis: 20%;
}

.cursos-description {
    font-size: 24px;
    flex-basis: 60%;
    line-height: 1.7;
}

.cursos-card-container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 50px;
}

.curso {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
    background-color: white;
    color: #222222;
}

.curso-modalidad {
    font-size: 12px;
    font-weight: 700;
}

.curso-title {
    font-size: 32px;
    font-weight: 700;
}

.curso-description {
    font-size: 16px;
    line-height: 1.7;
}

.curso-boton_info {
    text-decoration: none;
    background-color: #222222;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: 20px;
}

footer {
    height: 100px;
    background-color: #0707b7;
}